@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

.root {
    -fx-font-family: "Poppins";
}

.view-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.add-button {
    -fx-background-color: #5a78d1;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 15 8 15;
    -fx-cursor: hand;
}
.add-button:hover {
    -fx-background-color: #4a68c1;
}


.table-view {
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.table-view .column-header-background {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 8 8 0 0;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.table-view .table-cell {
    -fx-padding: 0.8em;
    -fx-border-color: transparent;
    -fx-font-size: 13px;
}

.table-view .table-row-cell:odd{
    -fx-background-color: #fafafa;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #d8deeb;
}

.action-button {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-alignment: CENTER;
    -fx-pref-width: 70px;
    -fx-cursor: hand;
}

.centered-cell {
    -fx-alignment: CENTER;
}

.edit-button {
    -fx-background-color: #5a78d1;
}
.edit-button:hover {
    -fx-background-color: #4a68c1;
}

.remove-button {
    -fx-background-color: #d15a5a;
}
.remove-button:hover {
    -fx-background-color: #c14a4a;
}